toppanel {
    position: absolute;
    top: 0;
}

.Logoresized {
            width: 417px;
            height: 81px;
            position: absolute;
            top: 1%;
            right: 1%;
   
      }

.bannertext {

    position: absolute;
    top:1%;
    left: 10%;
    color:#89a2b3;
    font: bold 30px arial;

}

.navileisteOben {
    width: 98%;
    height: 35px;
    position: absolute;
    left: 1%;
    right:1%;
    top: 11%;
}

middlepanel {
    position:absolute;

   }

leftpanel {
    position: absolute;
  
}


html {
    background-color: white;
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: white;
    color: black;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0 auto;
    padding: 0;
}


.menueleft {

    width: 200px;
    height: 88%;
    position: absolute;
    left: 1%;
    top: 13%;
    bottom: 1%;
  
    
}

.Navigation {
    width: 199px;
    position: absolute;
    top: 13.2%;
    list-style-type: none;
    padding-left: 1% ;
    border: 2px solid white;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
}

.Navigation li {
    width: 199px;
    height: 50px;
    list-style: none;
    border: 2px solid white;
    left: 0;
    border-bottom-style:none;
    border-left-style:none;
    border-right-style:none;
    padding-left: 1%;
    text-align:center;
    font: 18px arial ;
    color: white;
    padding-top:20px;

}





.content {
    bottom: 1%;
    left: 220px;
    right:1%;
    top: 15%;
    position: absolute;
    background-color: white;
    color: #89a2b3;
    font: arial;
}



footer {
   background-color: white;
   height: 1%;
}

.Navitop
 {float:right;
  text-align:center;
  min-width: 150px;
  border: 2px solid white;
  border-top-style:none;
  border-bottom-style:none;
  border-right-style:none;
  height: 30px;
  padding-top:2%;
  font: 18px arial;
  color: white;
  }

.NavtopUl
 {
    float:right;
    top:9.5%;
    right:0.9%;
    position:absolute;
    height: 35px;
    border-top-style:none;
    border-bottom-style:none;
    list-style-type: none;
  }


Login {
left:20%;
text-align:left;
font-size: 13px;
padding-right:10px;
position:absolute;
top: 50%;


}